# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.{js,jsx,scss,css,json,yaml,yml,xml,feature,mustache}]
indent_style = space
indent_size = 2

[*.php.mustache]
indent_style = tab
indent_size = 4

# Dotfiles
[.*]
indent_style = space
indent_size = 2
