.alley-scripts-post-picker__post-list {
  float: left;
  height: calc(70vh - 200px);
  overflow-y: auto;
}

.alley-scripts-post-picker__post {
  align-items: center;
  border: 1px solid #eee;
  display: flex;
  float: left;
  height: 150px;
  margin: 5px;
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.2s ease-in-out;
  width: 150px;

  &:hover {
    background-color: #f5f5f5;
  }

  &.is-selected {
    background-color: #f5f5f5;
  }

  & > div {
    width: 100%;
  }

  &-type {
    clear: both;
  }
}

.alley-scripts-post-picker__load-more {
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
}