.alley-scripts-post-picker__modal {
  .components-modal__content {
    width: 85vw;
  }

  .post-list-search {
    margin: 0 0 1rem;
  }

  &.is-format-list {
    .components-modal__content {
      max-width: 37.5rem;
    }
  }
}

.alley-scripts-post-picker__buttons {
  clear: both;
  display: block;
  padding-top: 0.75rem;
  text-align: right;
  width: 100%;

  button {
    margin: 0 0 0 0.5rem;
  }
}
